{application, {{domain}}, [
    {description, "{{description}}"},
    {vsn, "0.1.0"},
    {registered, []},
    {mod, {{{domain}}_app, []}},
    {applications, [
        kernel,
        stdlib,
        reckon_evoq
    ]},
    {env, []},
    {modules, []}
]}.
