%%% Domain supervisor: {{domain}}
%%% Supervises all desk supervisors for this domain.

%% --- {{domain}}_app.erl ---

-module({{domain}}_app).
-behaviour(application).

-export([start/2, stop/1]).

start(_StartType, _StartArgs) ->
    {{domain}}_sup:start_link().

stop(_State) ->
    ok.

%% --- {{domain}}_sup.erl ---

-module({{domain}}_sup).
-behaviour(supervisor).

-export([start_link/0, init/1]).

start_link() ->
    supervisor:start_link({local, ?MODULE}, ?MODULE, []).

init([]) ->
    Children = [
        %% ADD DESK SUPERVISORS HERE
        %% #{id => {{desk}}_desk_sup,
        %%   start => {{{desk}}_desk_sup, start_link, []},
        %%   type => supervisor}
    ],
    {ok, {#{strategy => one_for_one, intensity => 5, period => 10}, Children}}.
