{erl_opts, [debug_info]}.

{deps, [
    {reckon_evoq, {git, "https://github.com/reckon-db-org/reckon_evoq.git", {branch, "main"}}}
]}.

%% Include desk directories
{src_dirs, [
    "src"
    %% ADD DESK DIRECTORIES HERE
    %% "src/{{desk1}}",
    %% "src/{{desk2}}",
    %% "src/get_{{aggregate}}_by_id",
    %% "src/get_{{aggregates}}_page"
]}.
