# Changelog

All notable changes to **{{.Name}}** will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

## [Unreleased]

### Added
- Initialized torch: {{.Name}}
{{if .Brief}}- {{.Brief}}{{end}}

---

*Managed with [Hecate](https://github.com/hecate-social/hecate)*
