%% Route entry for {{spoke_name}}
%% Add to hecate_api_routes.erl routes list

%% Command routes (POST)
%% {"/api/{{route_plural}}/{{route_verb}}", {{command}}_api, []}
%% {"/api/{{route_plural}}/:{{aggregate}}_id/{{route_verb}}", {{command}}_api, []}

%% Query routes (GET)
%% {"/api/{{route_plural}}", get_{{aggregates}}_page_api, []}
%% {"/api/{{route_plural}}/:{{aggregate}}_id", get_{{aggregate}}_by_id_api, []}
